<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Contacts</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>

</head>
<body class="container">

	<h2 class="text-center">My Contacts</h2>
	<hr>
	<div ng-controller="CustomerController">
		<table style="margin: auto;" class="table-light table-borderless">
			<tr>
				<td scope="row">Phone No:</td>
				<td><input type="text" id="id" ng-model="customer.phoneNo" /></td>
			</tr>
			<tr>
				<td scope="row">Name:</td>
				<td><input type="text" id="name" ng-model="customer.name" /></td>
			</tr>
			<tr>
				<td scope="row">Email:</td>
				<td><input type="text" id="email" ng-model="customer.email" /></td>
			</tr>
			<tr>
				<td scope="row">Address:</td>
				<td><input type="text" id="address" ng-model="customer.address" /></td>

			</tr>
			<tr>
				<td scope="row">Photo:</td>
				<td><img ng-if="buttontype == 'update'" style="max-height: 100px;max-width: 100px;" ng-src="/customers/file?file={{customer.photo}}" />
				<input type = "file" file-model = "myFile"/>
				</td>
			</tr>
			<tr>

				<td class="btn-group" colspan="2">
					<button class="btn btn-dark" ng-click="reset()">Reset</button>
					<div ng-switch="buttontype">
						<button class="btn btn-dark" ng-switch-when="create"
							ng-click="createCustomer()">Add</button>
						<button class="btn btn-dark" ng-switch-when="update"
							ng-click="updateCustomer()">Update</button>
					</div>
				</td>


			</tr>
			<td colspan="2">
				<p class="text-success">{{message}}</p>
				<p class="text-danger">{{errorMessage}}</p>
			</td>
			<tr>
			</tr>
		</table>

		<br />
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">photo</th>
					<th scope="col">phone</th>
					<th scope="col">name</th>
					<th scope="col">email</th>
					<th scope="col">address</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in customerList">
					<td scope="row">{{c.id}}</td>
					<td>
					<img style="max-height: 100px;max-width: 100px;" ng-src="/customers/file?file={{c.photo}}" />
					</td>
					<td>{{c.phoneNo}}</td>
					<td>{{c.name}}</td>
					<td>{{c.email}}</td>
					<td>{{c.address}}</td>
					<td>
						<button class="btn btn-outline-dark btn-sm"
							ng-click="pickCustomer(c)">EDIT</button>
					</td>
					<td>
						<button class="btn btn-outline-dark btn-sm"
							ng-click="deleteCustomer(c.id)">DELETE</button>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>