<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="ISO-8859-1">
<title>Inventory</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app.js"></script>

</head>
<body class="container">

	<h2 class="text-center">My Inventory</h2>
	<hr>
	<div ng-controller="MyController">
		<table style="margin: auto;" class="table-light table-borderless">
			<tr>
				<td scope="row">Category:</td>
				<td>
				<select ng-model="product.category" ng-options="x for x in categories">
</select>
			</tr>
			<tr>
				<td scope="row">Name:</td>
				<td><input type="text"  ng-model="product.name" /></td>
			</tr>
			<tr>
				<td scope="row">Price:</td>
				<td><input type="number" ng-model="product.price" /></td>
			</tr>
			<tr>
				<td scope="row">Quantity:</td>
				<td><input type="number"  ng-model="product.quantity" /></td>

			</tr>
			<tr>
				<td scope="row">Photo:</td>
				<td>
				<div ng-if="buttontype == 'update'">
				<img 
					style="max-height: 100px; max-width: 100px;"
					ng-src="/products/file?file={{product.photo}}" />
					<button style="float: left;" class="btn btn-dark" ng-click="deleteFile()">X</button>
				</div>
				
				 <input type="file" file-model="myFile" />
				</td>
					
			</tr>
			<tr>

				<td style="padding: 10px; margin-left: 60%;" class="btn-group"
					colspan="2">
					<button class="btn btn-dark" ng-click="reset()">Reset</button>
					<div ng-switch="buttontype">
						<button class="btn btn-dark" ng-switch-when="create"
							ng-click="createRecord()">Add</button>
						<button class="btn btn-dark" ng-switch-when="update"
							ng-click="updateRecord()">Update</button>
					</div>
				</td>


			</tr>
			<td colspan="2">
				<p class="text-success">{{message}}</p>
				<p class="text-danger">{{errorMessage}}</p>
			</td>
			<tr>
			</tr>
		</table>

		<br />
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Photo</th>
					<th scope="col">Category</th>
					<th scope="col">Name</th>
					<th scope="col">Price</th>
					<th scope="col">Quantity</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in productList">
					<td scope="row">{{p.id}}</td>
					<td><img style="max-height: 100px; max-width: 100px;"
						ng-src="/products/file?file={{p.photo}}" /></td>
					<td>{{p.category}}</td>
					<td>{{p.name}}</td>
					<td>{{p.price}}</td>
					<td>{{p.quantity}}</td>
					<td>
						<button class="btn btn-outline-dark btn-sm"
							ng-click="pickRecord(p)">EDIT</button>
					</td>
					<td>
						<button class="btn btn-outline-dark btn-sm"
							ng-click="deleteRecord(p.id)">DELETE</button>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>